@tailwind base;
@tailwind components;
@tailwind utilities;

.episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

.episode {
  padding: 24px;
  background-color: #282828;
  border-radius: 8px;
  width: 100%;
}

.episode-title {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.25rem;
  margin-top: 4px;
  margin-bottom: 4px;
}
.episode time {
  color: rgba(255, 255, 255, 0.6);
}

.episode-ep {
  margin: 2px;
}

.load-more {
  padding: 16px;
  background-color: rgb(55, 107, 204);
  color: white;
  text-align: center;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 16px;
}
